<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fy.cq.ssq.modules.data.dao.MinuteDataMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.fy.cq.ssq.modules.data.entity.MinuteData">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="minute" property="minute" />
        <result column="version" property="version" />
        <result column="sum_data" property="sumData" />
        <result column="remark" property="remark" />
        <result column="count_data" property="countData" />
        <result column="avg_data" property="avgData" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, minute, version, sum_data AS sumData, remark, count_data AS countData, avg_data AS avgData
    </sql>

    <insert id="insertSumSecondDataByUserAndDay" parameterType="java.lang.String" >
        INSERT INTO user_minute_data (user_id,minute,sum_data,count_data,avg_data,version)
        select #{userId},#{date},SUM(a.user_data),count(1),ROUND(AVG(a.user_data),2),"1"
        from user_second_data a where a.user_id=#{userId} and a.data_time BETWEEN CONCAT(#{date},':00') and CONCAT(#{date},':59') and a.version='1';
    </insert>
</mapper>
