package ${package.Service};

import born.common.utils.PageUtils;
import ${package.Entity}.${entity};
import ${superServiceClassPackage};

import java.util.Map;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

      PageUtils queryPage(Map<String, Object> params);
}
#end
